body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.profilePic {
  height: 250px;
  width: 250px;
}

.characterPic {
  height: 125px;
  width: 125px;
}

.mvciCharacterPic {
  height: 300px;
  width: 300px
}